.content {
  padding-top: 10px;
  padding-bottom: 10px;
}

.map {
  position: absolute;
  width: 50%;
  height: 50%;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  min-width: 300px;
}

.h3 {
  background-color: beige;
}
